@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ternov';
	src: url('assets/fonts/Ternov.woff') format('woff'),
			 url('assets/fonts/Ternov.ttf') format('truetype'),
			 url('assets/fonts/Ternov.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Base typography */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'MAVIS', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #000;
  padding: 2rem 0;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ternov', sans-serif;
	font-weight: 700;
	margin: 0 0 0.5rem 0;
}

/* Utility: ensure icons/images scale nicely */
img, svg {
	max-width: 100%;
	height: auto;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}