@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MAVIS';
	src: url('assets/fonts/MAVISBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ternov';
	src: url('assets/fonts/Ternov.woff') format('woff'),
			 url('assets/fonts/Ternov.ttf') format('truetype'),
			 url('assets/fonts/Ternov.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* Base typography */
html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ternov {
  font-family: 'Ternov', sans-serif;
}

.mavis {
  font-family: 'MAVIS', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0 0 0.5rem 0;
}