
/* Utility: ensure icons/images scale nicely */
img, svg {
	max-width: 100%;
	height: auto;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color:  #47BFE8;
}