body {
  background-color: #000000;
  color: white
}

img, svg {
	max-width: 100%;
	height: auto;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  color:  #47BFE8;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

header h1 {
  font-size: 4rem;
  margin: 2rem 0;
  position: absolute;
  
}

header h1:first-child {
  top: 0;
  left: 0;
}

header h1:last-child {
  bottom: 0;
  right: 0;
  text-align: right;
}

.athlete-img {
  width: 80%;
  height: 100vh;
  object-fit: cover;
  margin: 0 auto;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}