* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
}

:root {
  --primary-color: #47BFE8;
}

img, svg {
	max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

header {
  color:  var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--primary-color);
}

header h1 {
  font-size: 4rem;
  margin: 2rem 0;
  position: absolute;
  
}

header h1:first-child {
  top: 0;
  left: 0;
}

header h1:last-child {
  bottom: 0;
  right: 0;
  text-align: right;
}

.athlete-img {
  width: 80%;
  height: 100vh;
  object-fit: cover;
  margin: 0 auto;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    li a {
      color: var(--primary-color);
      font-size: 2rem;
      transition: .5s ease-in-out;
      border: 1px solid transparent;
      padding-bottom: .5rem;
    }

    li a:hover {
      color: white;
      border-bottom: 1px solid white;
      transition: .5s ease-in-out;
    }
  }
}

.main-heading {
  font-size: 4.5rem;
  text-align: center;
  margin: 8rem auto 0;
  max-width: 70vw;
}

.cities {
  background: #121212;
  border: 1px solid var(--primary-color);
  padding: 2rem 5rem;
  margin-top: 1rem;

  ul {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h2 {
    text-align: center;
    color: var(--primary-color);
    margin: 1rem 0 0;
  }
}

#about {
  margin: 8rem auto;
  display: flex;
  align-items: center;
  gap: 5rem;

  img {
    width: 50%;
    height: 500px;
    object-fit: cover;
  }

  div {
    max-width: 50%;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}